.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 90%;
    margin: auto;
    gap: 0;
}

.container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: left top;
}

.container h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}
