.champ-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 90%;
    margin: 20px auto;
    gap: 0;
}

.champ-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: left top;
}

.champ-container h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.champ-container .avis-form, .champ-container .avis-form textarea {
    width: 100%;
}
